html,body{
  height: 100%
}
body *, *:after, *:before{
  box-sizing:border-box;
}
body{
  margin: 0;
font-size: 100%;
line-height: 1;
font-family: Helvetica, Arial, sans-serif;
}
header{
  height: 40px;
  line-height: 40px;
  background-color: #5fb336;
}
nav{
  height: 40px;
  background-color: #ccc;
  padding: 10px 0 0 30px;
}
section{
  height: calc(100% - 120px);
}
aside, article{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: auto;
}
aside{
  width:300px;
  background-color: #f1f1f1;
}
ul{
  margin: 0;padding: 0
}
li{
  padding: 8px;
  border-top: 1px solid #fff
}
li:first-child{
  border-top: 0 none
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-weight: normal;
}
article{
  width:calc(100% - 310px);
  padding: 20px;
}
footer{
  height: 40px;
  line-height: 40px;
  background-color: #5fb336
}
